@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply bg-dark text-light;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: none;
  /* Hide scrollbar on all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth;
}

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  display: none;
}

.arrow-container:hover .arrow {
  top: 50%;
}

.arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotate(-30deg);
}

.arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotate(30deg);
}

.arrow:nth-child(1) {
  opacity: 0.3;
  top: calc(15% + (100% / 5));
}

.arrow:nth-child(2) {
  opacity: 0.6;
  top: calc(15% + (200% / 5));
}

.arrow:nth-child(3) {
  opacity: 0.9;
  top: calc(15% + (300% / 5));
}
